
body{
    background-image: url(https://img5.goodfon.com/wallpaper/nbig/f/e1/tsvet-forma-fon-230.jpg);
    
}
    

 


input[type=pincode],input[type=text], input[type=email], input[type=number], input[type=select], input[type=date],input[type=select],input[type=password]
{
    width: 75%;
    padding: 12px;
    border: 1px solid rgb(168, 166, 166);
    border-radius: 4px;
    resize: vertical;
    background-color:antiquewhite;


}
input[type=tel]{
    width: 70%;
    padding: 12px;
    border: 1px solid rgb(168, 166, 166);
    border-radius: 4px;
}
textarea{
    width:75%;
    padding: 12px;
    border: 1px solid rgb(168, 166, 166);
    border-radius: 4px;
    resize: vertical;
}
input[type=radio]{
    padding-left: 0%;
    border: 1px solid rgb(168, 166, 166);
    border-radius: 4px;
    resize: vertical;
    size: 5px;
}

h1{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    color: rgb(221, 26, 156);
    text-align: center;
    text-decoration: underline;
    margin-left: 20%;
}
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
    color:#ffe6e6;
    
}

.sub{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float:center;
}
input[type=submit]:hover {
background-color: #32a336;
}
.container{
    border-radius: 5px;
    background-color:darkgrey;
    padding: 20px;
    width:35%;
    margin-left: 45%;;
}



#uname_meter{
    width: 75%;
    color:	#ffe6e6;
}
#countrySelect{
    width:65%;
}
#citySelect{
    width:65%;

}

@media  (max-width:480px) {
    .col-10,.col-90,textarea,input,input[type=text], input[type=email], input[type=number], input[type=select], input[type=date],input[type=select],input[type=password], input[type=tel][type=submit]{
        width: 100%;
        margin-top: 0;
    }
}



